.base {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
  font-size: x-large;
  color: #fff;
  background: rgb(134,134,134);
  background: linear-gradient(45deg, rgba(134,134,134,1) 0%, rgba(221,221,221,1) 31%, rgba(242,242,242,1) 51%, rgba(236,236,236,1) 74%, rgba(195,195,195,1) 100%);
  -webkit-box-shadow: 1px 1px 3px 0px #8D8D8D; 
  box-shadow: 1px 1px 3px 0px #8D8D8D;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5px;
    width: 45px;
    height: 45px;
  }
}

.number1 {
  background-color: rgb(168, 152, 78);
}

.number2 {
  background-color: rgb(47, 83, 47);
}

.number3 {
  background-color: rgb(78, 27, 24);
}

.number4 {
  background-color: rgb(33, 67, 90);
}

.number5 {
  background-color: rgb(89, 52, 97);
}

.number6 {
  background-color: rgb(46, 46, 46);
}

.protect {
  background-color: gray;
}

.back {
  background-color: gray;
}
